atomicwrites==1.4.0
attrs @ file:///tmp/build/80754af9/attrs_1620827162558/work
certifi==2021.5.30
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
cycler==0.10.0
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
kiwisolver @ file:///C:/ci/kiwisolver_1612282555033/work
matplotlib @ file:///C:/ci/matplotlib-suite_1613408055530/work
mkl-fft==1.3.0
mkl-random @ file:///C:/ci/mkl_random_1618854182866/work
mkl-service==2.3.0
more-itertools @ file:///tmp/build/80754af9/more-itertools_1622818384463/work
numpy @ file:///C:/ci/numpy_and_numpy_base_1620831398996/work
olefile==0.46
packaging @ file:///tmp/build/80754af9/packaging_1611952188834/work
Pillow @ file:///C:/ci/pillow_1617386320391/work
pluggy @ file:///C:/ci/pluggy_1615976440052/work
py @ file:///tmp/build/80754af9/py_1607971587848/work
pyparsing @ file:///home/linux1/recipes/ci/pyparsing_1610983426697/work
pytest==6.2.3
python-dateutil @ file:///home/ktietz/src/ci/python-dateutil_1611928101742/work
scipy @ file:///C:/ci/scipy_1618856124610/work
sip==4.19.13
six @ file:///C:/ci/six_1605205404068/work
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tornado @ file:///C:/ci/tornado_1606924294691/work
wincertstore==0.2
